{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src/components/", "./src/", "./server"],
        "extensions": [".js", ".model.js", ".json"]
      }
    ]
  ]
}
