.title {
    position: sticky;
    top: 64px;

    padding-top: 12px;
    text-align: center;

    background: #FFFFFF;
    z-index: 10;
}

.emptyContainer {
    display: flex;
    flex-direction: column;
    flex: 1;

    align-items: center;
}

.emptyList {
    position: absolute;

    top: 0;
    bottom: 0
}
