/* App.css */
.appContainer {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.leftColumn {
    flex: 1;
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
}

.divider {
    width: 2px;
    background-color: #ccc;

    height: 100%;
}

.rightColumn {
    flex: 1;
    display: flex;

    padding-left: 16px;
    padding-right: 16px;
}
