.bar {
    height: 64px;
}

.title {
    text-decoration: none;
    color: inherit;
}
.userContainer {
    margin-right: 16px;
}

.user {
    font-size: 18px;
    font-weight: 500;
}

.space {
    flex-grow: 1;
}

.exitApp {
    margin-left: 1px;
}
