.toast {
    padding: 12px 16px;
    max-width: 250px;

    margin-bottom: 12px;

    border-radius: 8px;
    border-width: 1px;
    border-color: grey;
}

.container-success {
    color: #0a0a14;
    background-color: green;
    opacity: 0.7
}

.container-failure {
    color: #0a0a14;
    background-color: red;
    opacity: 0.7;
}

.container-warning {
    color: #0a0a14;
    background-color: beige;

}

.container-loading {
    color: #0a0a14;
    background-color: blanchedalmond;
}

.left-accessory {
    margin-right: 16px;
}

.contentContainer {
    display: flex;
    flex-direction: row;

    align-items: center;

}

.crossButton {
    position: relative;
    margin-left: auto;

    height: 16px;
    width: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
}
